@import "tailwindcss";


@theme {
    --color-primary: #f9004d;
    --color-background-light: #ecf0f3;
    --color-background-dark: #212428;
    --color-card-light: #ecf0f3;
    --color-card-dark: #212428;
    --color-text-light: #c4cfde;
    --color-text-dark: #3c3e41;

    --font-display: "Poppins", sans-serif;
    --font-body: "Montserrat", sans-serif;

    --radius-DEFAULT: 8px;

    --shadow-custom-dark: 10px 10px 19px #1c1e22, -10px -10px 19px #262a2e;
    --shadow-custom-dark-inner: inset 10px 10px 19px #1c1e22, inset -10px -10px 19px #262a2e;

    --shadow-custom-light: 5px 5px 15px #d1d9e6, -5px -5px 15px #ffffff;
    --shadow-custom-light-inner: inset 5px 5px 15px #d1d9e6, inset -5px -5px 15px #ffffff;
}

/* Custom CSS classes */
body {
    font-family: var(--font-body);
    transition: background-color 0.3s, color 0.3s;
}

.dark body {
    background-color: var(--color-background-dark);
}

.material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 300, 'GRAD' 0, 'opsz' 24;
}

@layer components {
    .icon-box {
        @apply w-14 h-14 rounded-md flex items-center justify-center cursor-pointer transition-all duration-300 ease-in-out;
        @apply bg-card-light shadow-custom-light text-text-dark;
        @apply dark:bg-card-dark dark:shadow-custom-dark dark:text-text-light/80;
        @apply hover:-translate-y-1 hover:bg-gradient-to-br hover:from-gray-800 hover:to-black;
        @apply dark:hover:bg-gradient-to-br dark:hover:from-gray-800 dark:hover:to-black;
    }

    .icon-box:hover {
        @apply shadow-custom-light-inner dark:shadow-custom-dark;
        box-shadow: var(--shadow-custom-dark-inner);
    }

    html.dark .icon-box:hover {
        box-shadow: 10px 10px 19px #1c1e22, -10px -10px 19px #262a2e, inset 2px 2px 5px #1c1e22, inset -2px -2px 5px #262a2e;
    }

    .icon-box:hover>svg,
    .icon-box:hover>span {
        @apply text-primary;
    }

    nav a {
        @apply uppercase tracking-wider text-sm font-normal relative after:content-[''] after:absolute after:left-0 after:bottom-0 after:w-0 after:h-[2px] after:bg-primary after:transition-all after:duration-300;
        @apply text-text-dark dark:text-text-light/80;
    }

    nav a:hover,
    nav a.active {
        @apply text-black dark:text-white;
    }

    nav a:hover::after,
    nav a.active::after {
        @apply w-full;
    }
}

@layer utilities {
    @keyframes wavy {
        0% {
            border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
        }

        50% {
            border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
        }

        100% {
            border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
        }
    }

    .animate-wavy {
        animation: wavy 8s ease-in-out infinite;
    }
}